<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tmall.credit.mapper.EvaluateMapper">

<select id="getEvaluateByServiceID" resultType="com.example.tmall.credit.entity.Evaluate">
    select  * from service_evaluate where service_id = #{service_id}
</select>


</mapper>